<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="geometry3Sharp" version="1.0.324" targetFramework="net451" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net451" />
  <package id="Unity3D.UnityEngine" version="2018.3.5.1" targetFramework="net451" />
</packages>